.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    height: 40px;
    object-fit: contain; /* de resize anh khong bi meo */
}
.header_icon{
    padding: 20px;
}